/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* header style */
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 94px;
    background-color: #562EFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 930px;
    height: 94px;
}
.nav-left a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
}
.logo{
    width: 40.42px;
    height: 51px;
}
.company-name{
    color: white;
    margin-left: 10px;
}
.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li{
    list-style: none;
    margin-right: 30px;
}
.nav-right ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 40px;
}
.players{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* -------------------
    top blog styles 
----------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}

/* -------------------
    courses styles 
----------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gainsboro;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background-color: #FFE4E8;
    color:#FF4A60;
    border-radius: 15px;
    padding: 0 5px;
}

/* ----------------
     Media Query 
----------------- */
/* Mobile */
@media only screen and (max-width: 688px) { 
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
       grid-template-columns: repeat(1, 1fr);     
   }
   .player, .blog{
       flex-direction: column;
   }
}
/* Tablet */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    .nav-right ul li{
        margin-right: 10px;
    }
    .players, .courses{
       grid-template-columns: repeat(2, 1fr);    
    }
    .player{
        flex-direction: column;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);    
    }
}